Package: desktop-session-antix
Version: 0.2.7.16
Architecture: all
Maintainer: anticapitalista <antix@operamail.com>
Installed-Size: 965
Recommends: slim
Section: system
Priority: required
Homepage: http://antix.mepis.org
Description: desktop session for antiX-14.
