start_file "--antiX--"

    entry "Terminal" "desktop-defaults-run -t" /usr/share/icons/Faenza-Cupertino-mini/apps/32/terminal.png
    entry "File Manager" "desktop-defaults-run -fm" /usr/share/icons/Faenza-Cupertino-mini/apps/32/file-manager.png

    separator

    entry "Web Browser" "desktop-defaults-run -b" /usr/share/icons/Faenza-Cupertino-mini/apps/32/web-browser.png
    entry "Editor" "desktop-defaults-run -te" /usr/share/icons/Faenza-Cupertino-mini/apps/32/text-editor.png

    separator
    
    include_menu "Personal" personal /usr/share/icons/Faenza-Cupertino-mini/apps/32/config-users.png
   
    include_menu "Applications" menu-applications /usr/share/icons/Faenza-Cupertino-mini/categories/32/applications-accessories.png

   start_menu "Update Menus" /usr/share/icons/Faenza-Cupertino-mini/apps/32/gnome-settings-default-applications.png
    entry "Update Personal Menu" "desktop-menu --menu-file='/etc/xdg/menus/TCM-MENU.menu' --write-out --write-out-file='personal'" /usr/share/icons/Faenza-Cupertino-mini/apps/32/update-manager.png
    entry "Update Local App Menu" "desktop-menu --write-out" /usr/share/icons/Faenza-Cupertino-mini/apps/32/update-manager.png
    entry "Update Global App Menu" "desktop-menu --write-out-global" /usr/share/icons/Faenza-Cupertino-mini/apps/32/update-manager.png
    end_menu

    separator

    start_menu "Desktop" /usr/share/icons/Faenza-Cupertino-mini/places/32/user-desktop.png
        include_menu "Alternate Desktops" /usr/share/desktop-session/wm-menus/fluxbox-wm-menu /usr/share/icons/Faenza-Cupertino-mini/places/32/user-desktop.png
       
            
            separator
            entry "Add Desktop" "add-desktop" /usr/share/icons/Faenza-Cupertino-mini/places/32/user-desktop.png
            entry "Wallpaper" "wallpaper.py" /usr/share/icons/Faenza-Cupertino-mini/apps/32/preferences-desktop-wallpaper.png
            entry "GTK Theme" "lxappearance" /usr/share/icons/Faenza-Cupertino-mini/apps/32/preferences-desktop-theme.png
            entry "Desktop Defaults" "desktop-defaults-set" /usr/share/icons/Faenza-Cupertino-mini/apps/32/gnome-settings-default-applications.png
            entry "Window Manager" "edit-wm-settings" /usr/share/icons/Faenza-Cupertino-mini/apps/32/preferences-system-windows.png
            entry "Session Settings" "desktop-defaults-run -te ~/.desktop-session/desktop-session.conf" /usr/share/icons/Faenza-Cupertino-mini/categories/32/applications-system.png
            entry "Session Settings Global" "desktop-defaults-run -r -te /etc/desktop-session/desktop-session.conf" /usr/share/icons/Faenza-Cupertino-mini/categories/32/applications-system.png
           
            separator
            
            entry "RoxPanel on/off" "paneltoggle.sh" /usr/share/icons/Faenza-Cupertino-mini/apps/32/gnome-panel.png
            entry "Conky on/off" "conkytoggle.sh" /usr/share/icons/Faenza-Cupertino-mini/apps/32/utilities-system-monitor.png

    end_menu

    separator

    start_menu "Tools" /usr/share/icons/Faenza-Cupertino-mini/categories/32/applications-system.png
            entry "Nano" "desktop-defaults-run -t nano" /usr/share/icons/Faenza-Cupertino-mini/apps/32/utilities-terminal.png
            entry "Ted" "/usr/local/bin/Ted" /usr/share/Ted/Ted.png
            entry "Rox Filer" "rox" /usr/share/icons/antiX/rox-filer.png
            entry "SpaceFM" "spacefm" /usr/share/icons/hicolor/48x48/apps/spacefm.png
            entry "Search" "spacefm --find-files" /usr/share/icons/Faenza-Cupertino-mini/apps/48/spacefm-find.png
            entry "MC File Manager" "desktop-defaults-run -t mc" /usr/share/icons/hicolor/64x64/apps/MidnightCommander.png           
            entry "App Killer" "xkill" /usr/share/icons/Faenza-Cupertino-mini/actions/32/gtk-no.png
            entry "Process Viewer" "desktop-defaults-run -t htop" /usr/share/icons/Faenza-Cupertino-mini/apps/32/htop.png
            entry "System Information" "inxi-gui" /usr/share/icons/Faenza-Cupertino-mini/devices/32/computer.png
            entry "Add .desktop Files" "ktsuss adddesktop.sh" /usr/share/icons/Faenza-Cupertino-mini/actions/32/gtk-edit.png
        end_menu

    entry "Control Centre" "antixcc.sh" /usr/share/icons/Faenza-Cupertino-mini/categories/32/preferences-desktop.png

    separator

    start_menu "Help" /usr/share/icons/Faenza-Cupertino-mini/apps/32/help-browser.png
        start_menu "antiX" /usr/share/icons/Faenza-Cupertino-mini/places/32/folder.png
            entry "antiX FAQ" "dillo /usr/share/antiX/FAQ/index.html"
            entry "antiX-live How-To" "dillo /usr/share/antiX/Boot_Menu/antiX-gfxboot.html"

            separator

            entry "Rox Manual" "dillo http://rox.sourceforge.net/Manual/Manual/Manual.html"
        end_menu

        separator

        start_menu "Fluxbox" /usr/share/icons/Faenza-Cupertino-mini/places/32/folder.png
            entry "Fluxbox Docs" "dillo http://fluxbox.sourceforge.net/docbook/en/html/"
            entry "Fluxbox FAQ" "dillo http://fluxbox-wiki.org/index.php/Faqs"
            entry "Fluxbox Wiki" "dillo http://fluxbox-wiki.org/index.php/Fluxbox-wiki"

            separator

            entry "Arch Wiki" "dillo http://wiki.archlinux.org/index.php/Fluxbox"
        end_menu

        start_menu "IceWM" /usr/share/icons/Faenza-Cupertino-mini/places/32/folder.png
            entry "IceWM FAQ" "dillo http://www.icewm.org/FAQ/"
            entry "IceWM Manual" "dillo http://www.icewm.org/manual/"

            separator

            entry "OSNews" "dillo http://www.osnews.com/story/7774/IceWM--The-Cool-Window-Manager/"
        end_menu

        start_menu "JWM" /usr/share/icons/Faenza-Cupertino-mini/places/32/folder.png
            entry "Homepage" "dillo http://joewing.net/programs/jwm/"
            entry "Arch Wiki" "dillo https://wiki.archlinux.org/index.php/JWM"
            entry "WM - Puppy-Linux" "dillo http://puppy.b0x.me/wiki/doku.php?id=jwm"
        end_menu

        separator

        start_menu "Applications" /usr/share/icons/Faenza-Cupertino-mini/places/32/folder.png
            entry "Firewall" "dillo https://help.ubuntu.com/community/Gufw"
            entry "mtPaint" "dillo http://mtpaint.sourceforge.net/handbook/"
            entry "Partimage" "dillo http://www.partimage.org/Partimage-manual_Usage"
        end_menu

        start_menu "Man Pages" /usr/share/icons/Faenza-Cupertino-mini/places/32/folder.png
            entry "Backup" "roxterm -e man luckybackup"
            entry "Irssi" "roxterm -e man irssi"
            entry "mc" "roxterm -e man mc"
            entry "mocp" "roxterm -e man mocp"
            entry "Nano" "roxterm -e man nano"
            entry "Rss/Atom" "roxterm -e man newsbeuter"
            entry "Terminal" "roxterm -e man urxvt"
            entry "Torrent" "roxterm -e man rtorrent"
        end_menu

    end_menu

    BEGIN fluxbox
    entry "Run" "gexec" /usr/share/icons/Faenza-Cupertino-mini/actions/32/system-run.png
    start_menu "Fluxbox Settings" /usr/share/icons/Faenza-Cupertino-mini/categories/32/applications-system.png
    
        fluxbox "Configuration" config
        start_menu "Styles" Style
            fluxbox "~/.fluxbox/styles" stylesdir
            fluxbox "Fluxbox Styles" stylesmenu /usr/share/fluxbox/styles
        end_menu

        fluxbox "Workspaces" workspaces

        separator

        fluxbox "Reconfigure" reconfig
        fluxbox "Restart" restart
    end_menu

    entry "Exit" "desktop-session-exit" /usr/share/icons/Faenza-Cupertino-mini/actions/32/application-exit.png

    END fluxbox

    BEGIN jwm

    separator

    include .jwm/themes-list
    END jwm
    
    entry "antiX Installer" "gksu antixsources.sh" /usr/share/icons/msystem.png
    
end_file
