# This is a default toolbar definition file for IceWM
#
# Place your personal variant in $HOME/.icewm directory.

### Commonly used applications
prog @"Home Folder" /usr/share/icons/Faenza-Cupertino-mini/places/32/folder.png desktop-defaults-run -fm
prog @"Terminal" /usr/share/icons/Faenza-Cupertino-mini/apps/32/terminal.png desktop-defaults-run -t
prog @"Browser" /usr/share/icons/Faenza-Cupertino-mini/apps/32/web-browser.png desktop-defaults-run -b
prog @"Control Centre" /usr/share/icons/Faenza-Cupertino-mini/categories/32/preferences-desktop.png antixcc.sh
prog @"Unplug Removable Device" /usr/share/icons/Faenza-Cupertino-mini/devices/32/drive-removable-media-usb.png unplugdrive.sh
prog @"Quit" /usr/share/icons/Faenza-Cupertino-mini/actions/32/application-exit.png desktop-session-exit
