[Desktop Entry]
Name=Alsamixer
Name[am]=Alsamixer 
Name[el]=Alsamixer
Comment=ALSA Audio
Comment[am]=ALSA ድምፅ
Comment[el]=ALSA Audio
Exec=x-terminal-emulator -e alsamixer
Icon=alsamixer-equalizer.png
Terminal=false
Type=Application
Categories=AudioVideo;Player;Audio;
NoDisplay=False
