[Desktop Entry]
Name=Alsamixer
Comment=ALSA Audio
Exec=x-terminal-emulator -e alsamixer
Icon=alsamixer-equalizer.png
Terminal=false
Type=Application
Categories=AudioVideo;Player;Audio;
NoDisplay=False
