[Desktop Entry]
Encoding=UTF-8
Name=Remove Menu Item
Comment= Remove a Menu Item
Exec=remove-desktop
Icon=/usr/share/icons/gTangish-2.0a1/48x48/devices/computer.png
Terminal=false
Type=Application
Categories=X-antiX;Settings;
NoDisplay=False
